<div class="container">
    <h2>Latest Quotes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quote/ Policy No</th>
                <th>Insured Name</th>
                <th>Policy Type</th>
                <th>Policy Inception Date</th>
                <th>Quote Registration Date</th>
                <th>Quote Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>02 EDU 123456</td>
                <td>John</td>
                <td>Professional Indemnity</td>
                <td>01/08/2015</td>
                <td>01/07/2015</td>
                <td>Active</td>
            </tr>
            
        </tbody>
    </table>
</div>

<div id="output"></div>
